<div>
  <h1>ClimbingBuddies</h1>
  <h2>Find your future climbing friends</h2>
</div>

<% @climbsite.each do |site| %>
  <div>
    <p><%= link_to site.name, climbsite_path(site)%></p>
    <p><%= site.location %></p>
  </div>
<% end %>

<div>All rights reserved. 2014</div>
