<div>
  <h1>ClimbingBuddies</h1>
  <h2>Find your future climbing friends</h2>
</div>

<div class='col-lg-6'>
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>

<% @climbsite.each do |site| %>
  <div class='col-lg-3'>
    <p><%= link_to site.name, climbsite_path(site)%></p>
    <p><%= site.location %></p>
  </div>
<% end %>

<div>All rights reserved. 2014</div>
